

.pitchfork-cursor {
  width: 150px;
  height: 150px;

 background: url("https://static.thenounproject.com/png/29621-200.png") no-repeat center; 
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; 
  touch-action: none; 
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 9999; 
}



@media (max-width: 900px) {
  .pitchfork-cursor {
    display: none;
  }
}
